<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure - #{pugImageTitle}
        link(rel="stylesheet", href="/files/main.css")
    body
        div.main-container
            div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
            div.image-container
                div.title
                    h2 #{pugImageTitle}
                    //a Uploaded at: #{pugUploadTime}
                img#uploadedImage(src= pugImage alt="Image")
                div#delete.delete
                    button(onclick="copyLink();") Copy link
                    a Deletes at: #{pugDeleteTime}

        script.
            pugFileType="#{pugFileType}";
        script(src="/files/moment.js")
        script(src="/files/main.js")